{% extends 'base.html' %}

{% block titlename %}
<title>Articles</title>
<style>
    form {
        display: flex;
        /* form 안의 요소들이 한 줄로 나열되도록 설정 */
        align-items: center;
        /* 수직 중앙 정렬 */
        gap: 10px;
        /* 요소들 간의 간격 */
    }
</style>
{% endblock titlename %}

{% block content %}
<div>
    <h2>Articles</h2>
    {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}"><button>글 쓰러 가기</button></a><br><br>
    {% else %}
    <a href="{% url 'articles:create' %}"><button>로그인 하고 글 쓰러 가기</button></a><br><br>
    {% endif %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for article in articles %}
                <div class="col"
                    onclick="event.stopPropagation(); window.location.href='{% url 'articles:article_detail' article.pk %}'">
                    <div class="card shadow-sm">
                        {% if article.image %}
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="{{ article.image.url }}" alt="none">
                        {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ article.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if request.user.id == article.author.id %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick=" event.stopPropagation(); window.location.href='{% url 'articles:update' article.pk %}'">Edit</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="event.stopPropagation();" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{article.pk}}">Delete</button>
                                    
                                    <!-- data-bs-target을 부름 exampleModal{{article.pk}}을 튀어나오게함 -->
                                    {% endif %}
                                    <form action="{% url 'articles:like' article.pk %}" method="POST" >
                                        {% csrf_token %}
                                        {% if user in article.like_users.all %}
                                        <button type="submit" onclick="event.stopPropagation();">좋아요 취소</button>
                                        {% else %}
                                        <button type="submit" onclick="event.stopPropagation();">좋아요</button>
                                        {% endif %}
                                    </form>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- id의 exampleModal을 부름 -->
                <div class="modal fade" id="exampleModal{{article.pk}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="{% url 'articles:delete' article.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


{% endblock content %}