{% extends 'base.html' %}

{% block titlename %}
<title>Articles</title>
{% endblock titlename %}

{% block content %}
<div>
    <h2>Articles</h2>
    {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}"><button>글 쓰러 가기</button></a><br><br>
    {% else %}
    <a href="{% url 'articles:create' %}"><button>로그인 하고 글 쓰러 가기</button></a><br><br>
    {% endif %}
    
    
    {% for article in articles %}
    <a href="{% url 'articles:article_detail' article.pk %}">{{ article.title }}</a><br><br>
    {% endfor %}
    
</div>
<a href="{% url 'articles:data-throw' %}">다시 데이터 보내러가기</a>
{% endblock content %}